* {
  margin: 0;
  padding: 0;
}

*, *:before, *:after {
  box-sizing: inherit;
}


html {
  box-sizing: border-box;

  font-family: 'Open Sans', helvetica, arial, sans-serif;
  font-size: 16px;
}

main {
  margin: 0 auto;
  max-width: 1500px;
  padding: 20px;
}

.cards {
  background: #eee;
  flex-wrap: wrap;
  display: flex;
  justify-content: space-around;
}

.card {
  background-color: #fff;
  border: 2px solid  #aaa;
  border-radius: 5px;
  max-width: 470px;
  max-height: 300px;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
}

.card__fyrirsogn {
  font-size: 22px;
  line-height: 22px;
  padding: 5px;
  word-break: break-word;
}

.card__flex--wrapper {
  display: flex;
  margin-bottom: 10px;
  min-height: 0px;
  max-height: 300px;
  overflow-y: auto;
  flex: 1;
}

.card__flex {
  line-height: 22px;
  padding: 5px;
  flex-wrap: wrap;
  word-break: break-word;
  overflow-y: auto;
  min-height: 0px;
  max-height: 300px;
}


.card__image img {
  display: flex;
  align-items: baseline;
  width: 150px;
  height: auto;
  padding: 5px;
}

.card__list {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  font-weight: bold;
  height: auto;
  width: auto; 
  justify-content: baseline;
  padding: 5px;
}

li {
  padding:5px;
}
